.bc_have_cata-main {
    padding-left: 20%;
    padding-right: 20%;
}

.bc_have_cata {
    padding: 12px;
}

.bc_have_cata-create_cata {
    /* padding: 10px; */
}

.bc_have_cata-text_tiktok {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

.bc_have_cata-create_cata span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6D7175;
}

.bc_have_cata_radio {
    margin-top: 26px;
}

.radio-cata-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bc_have_cata-select_foot .Polaris-Card__Section {
    padding: 0;
    margin-top: 14px;
}

.bc_have_cata-select_foot2 {
    margin-top: 15px;
}

.bc_have_cata-radio_foot :nth-child(2),
:nth-child(3),
:nth-child(4) {
    margin-right: 24px;
}

.bc_have_cata-text_tiktok {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #202223;
}

.bc_have_cata-text_product{
    margin-top: 6px;
    margin-bottom: 10px;
}