.create_catalog-main {
    margin: 14px 24px;
}

.selected-create_catalog {
    padding: 10px;
}

#select-account,
#select-product {
    margin-top: 10px;
}

.Polaris-Select {
    margin-bottom: 14px;
}

.Polaris-Labelled__LabelWrapper {
    margin-top: 10px;
}

#product_on_catalog-text {
    margin-bottom: 10px;
}

.Polaris-Stack__Item {
    margin-top: 8px !important;
}

.btn-create_Catalog {
    display: flex;
    margin-top: 20px;
    justify-content: end;
}

.btn-create_Catalog button {
    background: #000000;
    color: #fff;
}

.text-create_catalog {
    box-shadow: 0px 2px rgb(129, 119, 119);
    height: 40px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #202223;
}