.main_css{
    margin: 60px 200px 40px;
}

.word_search{
    display: flex;
    align-items: center;
}

.word_search div{
    color: aqua;
    font-size: 18px;
    margin-left: 12px;
    font-weight: bold;
}

.word_desc{
    margin-left: 20px;
    color: rgb(44, 22, 138);
    font-style: italic;
}