/* Css Connection requirement */
.log_in-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#log_in-heading {
    margin-top: 39px;
    color: #202223;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter';
    font-style: normal;
}


.log_in-description {
    max-width: 455px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6D7175;

}

#login_in-tiktok {
    position: relative;
    width: 256px;
    height: 39px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    background: #020203;
    border-radius: 5px;
}

#login_in-tiktok svg {
    position: absolute;
    left: 0;
}

/* End Css Connection requirement */