@import url('https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap');
 body {
	 font-family: Manjari, sans-serif;
	 font-size: 14px;
}
 .calendar {
	 width: 350px;
	 margin: 30px auto 0;
	 box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, .1);
	 border-radius: 6px;
}
 .header {
	 display: flex;
	 align-items: center;
	 padding: 12px;
	 border-radius: 6px 6px 0 0;
	 background-color: #1abc9c;
	 color: #fff;
}
 .nav {
	 width: 30px;
	 height: 30px;
	 border: 1px solid #fff;
	 border-radius: 99px;
	 outline: 0;
	 background-color: transparent;
	 color: #fff;
	 cursor: pointer;
}
 .datetime {
	 margin: 0 auto;
	 font-size: 18px;
	 font-weight: bold;
}
 .week-container, .day-container {
	 display: flex;
	 flex-wrap: wrap;
}
 .week-cell, .day-cell {
	 flex: 0 0 calc(100% / 7);
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 30px;
}
 .day-cell--faded {
	 opacity: 0.4;
}
 .day-cell--today {
	 border-radius: 99px;
	 background-color: #1abc9c;
	 color: #fff;
}
 