.navbar {
    margin-right: 30px;
}

.navbar_list{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: 0px 1px grey;
    height: 70px;
    padding-bottom: 10px;
}

.active {
    background-color: antiquewhite;
}

.no_active {
    background-color: white;
}