.title{
    margin-right: 150px;
}

.background{
    margin-right: 150px;
}

.top {
    margin: 20px;
}

.bottom {
    margin: 20px;
}


.setting_main input{
    width: 220px;
    height: 40px;
}

#save {
    margin-left: 200px;
    height: 50px;
    width: 240px;
    margin-top: 50px;
}