@import url("https://fonts.googleapis.com/css?family=Poppins");

.banner_main {
  position: relative;
  display: flex;
  width: 100vw;
  height: 118px;
  background: linear-gradient(90.36deg, #68c9f7 9.36%, #beeaff 89.96%);

  .banner-close {
    position: absolute;
    right: 1.08%;
    top: 13.48%;
  }

  .banner-text {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    margin-left: 6%;
    width: 50%;

    .text {
      // font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      color: #05386b;
      max-width: 160px;
    }

    .text-don_be_shy {
      position: relative;
    }

    .text-don_be_shy:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 160px;
      height: 15px;
      background-color: #c1ff72;
      z-index: 0;
    }

    .text-don_be_shy:before {
      content: "Don't be shy,";
      position: absolute;
      left: 0;
      color: #05386b;
      z-index: 1;
    }

    .text-give {
      margin-left: 16px;
      position: relative;
    }

    .text-give:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 54px;
      height: 15px;
      background-color: #c1ff72;
      z-index: 0;
    }

    .text-give:before {
      content: "give";
      position: absolute;
      color: #05386b;
      z-index: 1;
    }

    .text-a_try {
      position: relative;
    }

    .text-a_try:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 57px;
      height: 15px;
      background-color: #c1ff72;
      z-index: 0;
    }

    .text-a_try::before {
      content: "a try";
      position: absolute;
      color: #05386b;
      z-index: 1;
    }

    .banner-text_content {
      // font-family: 'Poppins';
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 72px;
      color: #ffffff;
      margin: -12px 8px 0px;
    }
  }

  .button_grab-free {
    background: #c1ff72;
    width: 258px;
    height: 50px;
    display: flex;

    .Polaris-Button {
      background: #c1ff72;
      width: 100%;
      height: 100%;
    }

    .Polaris-Button__Text {
      // width: 196px;
      height: 30px;

      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;

      color: #05386b;
    }

    svg {
      margin-left: 10px;
    }
  }

  .banner-picture {
    position: absolute;
    width: 161px;
    height: 145px;
    left: 620px;
    top: 0px;
  }

  .banner-btn {
    display: flex;
    margin-left: 20%;
    align-items: center;

    .banner-popup {
      height: 118px;
      display: flex;
      align-items: center;
    }
  }
}

.background-banner_cross {
  // position: relative;
  background: url(./IMG/background_popup_banner.png);
  width: 100%;

  img {
    max-width: 100%;
  }

  .modal-text {
    position: absolute;
    left: 85px;
    top: 83px;

    .text-twitter_ads {
      width: 288px;
      height: 72px;

      font-weight: 900;
      font-size: 48px;
      line-height: 72px;
      color: #ffffff;
    }

    .text-got_you_down {
      position: relative;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #05386b;
      margin-top: -12px;
    }

    .text-got_you_down:before {
      content: "got you down?";
      position: absolute;
      left: 0;
      color: #05386b;
      z-index: 1;
    }

    .text-got_you_down:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 176px;
      height: 20px;
      background-color: #c1ff72;
      z-index: 0;
    }

    .text-descrpition {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;

      color: #05386b;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .banner_main {
    height: auto;
    flex-direction: column;
    justify-content: center;

    .banner-text {
      // position: static;
      width: 100%;
      text-align: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;

      .banner-text_content {
        margin: 0px 8px;
        font-size: 32px;
        line-height: 48px;
      }
    }

    .banner-btn {
      position: absolute;
      left: 48%;
      margin-left: 0;
      top: 36%;
    }

    .banner-picture {
      position: static;
      width: 40%;
      height: auto;
      margin-left: 10%;

      img {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .banner_main {
    .banner-text {
      .text {
        font-size: 16px;
        line-height: 16px;
      }

      .text-don_be_shy:after {
        width: 98px;
      }

      .text-give:after {
        width: 32px;
      }

      .text-a_try:after {
        width: 36px;
      }

      .banner-text_content {
        font-size: 16px;
        line-height: 16px;
      }
    }

    .banner-btn {
      top: 40%;
      .banner-popup {
        height: 48px;

        .button_grab-free {
          width: 140px;
          height: 40px;

          .Polaris-Button__Text {
            font-size: 11px;
            line-height: 13px;
            height: 30px;
          }
        }
      }
    }
  }
}
