@import url("https://fonts.googleapis.com/css?family=Poppins");

.banner_main {
  position: relative;
  display: flex;
  width: 100vw;
  height: 118px;
  background: linear-gradient(90.36deg, #68C9F7 9.36%, #BEEAFF 89.96%);

  .banner-close {
    position: absolute;
    right: 1.08%;
    top: 13.48%;
  }

  .banner-text {
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    margin-left: 6%;

    .banner-text_heading {

      p {
        // font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        color: #05386B;
      }

      .text-don_be_shy {
        position: relative;
        z-index: 1000;

      }

      .text-give {
        position: relative;
        z-index: 1000;

      }

      .text-a_try{
        position: relative;
        z-index: 1000;
      }

      .text-svg_underlined {
        margin-top: -18px;
      }
    }

    .banner-text_content {
      // font-family: 'Poppins';
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 72px;
      color: #FFFFFF;
      margin: -12px 8px 0px;
    }
  }

  .button_grab-free {
    background: #C1FF72;
    width: 258px;
    height: 50px;
    display: flex;

    .Polaris-Button {
      background: #C1FF72;
      width: 100%;
      height: 100%;
    }

    .Polaris-Button__Text {
      // width: 196px;
      height: 30px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;

      color: #05386B;
    }

    svg {
      margin-left: 10px;
    }
  }

  .banner-picture {
    position: absolute;
    width: 161px;
    height: 145px;
    left: 620px;
    top: 0px;
  }

  .banner-btn {
    display: flex;
    margin-left: 80%;
    align-items: center;
  }

  .banner-popup {
    height: 118px;
    display: flex;
    align-items: center;
  }
}

.popup-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #6278f7;
  display: flex;
}

.banner-popup_picture {
  display: flex;
  align-items: center;
  justify-content: center;
}